body{
    background-color: rgb(199, 224, 244);
}

header{
    background-color: black;
    
}
header a:hover{
    background-color:red;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: end;
    margin-bottom: 10%;
}
header nav a:nth-child(1), a:nth-child(2),a:nth-child(3){
    margin-right:2%;
    color: wheat;
    font-weight:800;
    font-size: 20px;
    text-decoration: none;
    border-bottom:solid white;
}
.cave{
    width: 150px;
    height: 120px;
    margin-left: 1%;
    margin-top: 2%;
}
.dark-mode{
    background-color: rgb(74, 2, 2);
    color: rgb(4, 171, 23);
}
button{
    border: 2px solid darkslategrey;
    margin: auto;
    color: snow;
    background-color: black;
    margin-left: 90%;
}
h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    color: rgb(60, 164, 224);
    font-size: 100px;
}
h2{
    font-size: 30px;
    color: darkred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
h3{
    font-size: 25px;
    font-family:cursive;
    color: rgba(116, 91, 91, 0.872);
}
.liz{
    height: 450px;
    width: 350px;
    margin-left: 3%;
    margin-right: 2%;
    border: solid rgba(128, 128, 128, 0.635);
    border-radius: 10%;
}
#who-am-i{ 
display:flex;
flex-direction: row;
align-items: start;
justify-content: flex-start;
padding-left: 5%;
}
.intro-container{
    background-color: antiquewhite;
    padding: 2%;
    border: solid goldenrod;
    border-radius: 8%;
}

#coding-ambitions{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 3%;
    
}
.sunset{
    
    height: 30%;
    width: 40%;
    margin-left:4%;
    margin-top: 5%;
    margin: 3%;
    margin-right: 2%;
    border: solid black;
}
.study-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: antiquewhite;
    border: solid goldenrod;
    margin: 5%;
    
}
#programming-languages{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-evenly;
    justify-content: flex-start;
    padding-left: 5%;
    
}
.languages{
    
    background-color: rgb(236, 219, 219);
    border: solid black; 
    border-radius: 15%;
    padding: 0.5% 1%;
}
#toolsHead{
    font-size: 30px;
    font-family:cursive;
    color: rgba(116, 91, 91, 0.872);
    list-style: none;
    padding-bottom:5%;
}
.tools{
    background-color:rgb(230, 213, 35);
    padding:3% 2%;
    border: solid  black;
    border-radius: 30%;   
}

ul, ol{
    list-style:circle;
}
footer{
    background-image: url(images/cave.jpg);
    border: 2px solid teal;
    margin-top: 10%;

}
#contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#contactInfo a{
    font-size: 40px;
    color: rgb(186, 242, 252);
    font-weight: 200;
    font-family:fantasy ;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
}
h4{
    font-size: 30px;
    color: snow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#contact img{
    height: 100px;
    width:110px;
    margin-top: 50%;
}
#contactInfo p{
    color: rgb(254, 254, 254);
    display: flex;
    align-self: flex-end;
}

@media (max-width:750px) {
    header{
        background-color: rgba(61, 57, 57, 0.751);
        display: flex;
        flex-wrap: wrap;
    }
    header nav{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: end;
        margin-bottom: 10%;
    }
    nav a:nth-child(1), a:nth-child(2),a:nth-child(3){
        margin-right:2%;
        color: wheat;
        font-weight:800;
        font-size: 20px;
        text-decoration: none;
        border-bottom:solid white;
    }
    .cave{
        width: 150px;
        height: 120px;
        margin-left: 1%;
        margin-top: 2%;
    }
    h1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        flex-wrap: wrap;
        flex-shrink: 50px;
        color: rgb(60, 164, 224);
        font-size: 50px;
        margin-left:2% ;
    }
    .liz{
        height: 450px;
        width: 350px;
        margin-left: 3%;
        margin-right: 2%;
        margin-top: 2%;
        border: solid rgba(128, 128, 128, 0.635);
        border-radius: 10%;
        
    }
    #who-am-i{ 
    display:flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    padding-left: 5%;
    flex-wrap: wrap;
    }
    .intro-container{
        background-color: antiquewhite;
        padding: 2%;
        border: solid goldenrod;
        border-radius: 8%;
    }
    
    #coding-ambitions{
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        flex-wrap: wrap;
        align-items: center;
        margin:3%;
    }
    .sunset{
        
        height: 50%;
        width: 60%;
        margin-left:4%;
        margin-top: 5%;
        margin: 3%;
        margin-right: 2%;
        border: solid black;
    }
    .study-container{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        background-color: antiquewhite;
        border: solid goldenrod;
        flex-wrap:wrap-reverse;
        margin: 5%;
        
    }
}